body {
    font-family: Arial, sans-serif;
}

#cash-register {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

input, button {
    margin: 10px 0;
    padding: 10px;
}

#change-due {
    margin-bottom: 20px;
}
